body {
    padding-top: 65px;
    padding-bottom: 65px;
    background-color: darkgray;
}

#table-controls{
    color:#337AB7;
    text-decoration:none;
    background-color:transparent;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
}